<button
  [type]="type"
  [class]="buttonClasses"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="handleClick($event)"
>
  <!-- Loading spinner -->
  <span *ngIf="loading" class="btn-spinner"></span>

  <!-- Left icon -->
  <span 
    *ngIf="icon && iconPosition === 'left' && !loading" 
    class="material-symbols-outlined"
  >
    {{ icon }}
  </span>

  <!-- Button content -->
  <span 
    class="btn-content"
    [class.opacity-0]="loading"
  >
    <ng-content></ng-content>
  </span>

  <!-- Right icon -->
  <span 
    *ngIf="icon && iconPosition === 'right' && !loading" 
    class="material-symbols-outlined"
  >
    {{ icon }}
  </span>
</button>